/* INTRO BY Khrystia */

section.header {
	background: url("img/Header/hello_its_me.jpg");
	min-height: 100%;
	text-align: center;
}

h1.header {
	font-size: 500%;
	height: 100px;
  	line-height: 100px;
  	font-weight: bold;
  	color: black;
}

p.header {
	font-size: 100%;
	height: 100px;
  	font-weight: normal;
  	color: black;
}

a.button-header {
	background-color: white;
  	color: black;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	border: 2px solid #e7e7e7;
  	border-radius: 35%;
}

a.button-header:hover, a.button-header:active {
	background-color: #e7e7e7;
}

/* END OF HEADER */

div.second-section-left {
	position: absolute;
  	left: auto;
  	width: 500px;
  	height: 500px;
}

h2.second-section-h2 {
	  font-size: 300%;
	  height: 100px;
  	line-height: 100px;
  	text-align: left;
  	font-weight: bold;
  	color: black;
}

p.second-section-p {
	 font-size: 100%;
	 height: 100px;
  	font-weight: normal;
  	color: black;
}

button.second-section-button {
	background-color: white;
  	color: black;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	border: 2px solid #e7e7e7;
  	border-radius: 35%;
}

button.second-section-button:hover, button.second-section-button:active {
	background-color: #e7e7e7;
}

div.second-section-right {
	/*position: absolute;
  	left: 150px;*/
}

img.cesis-intro {
	/*position: absolute;
  	top: 8px;
  	right: 16px;
  	font-size: 18px;*/
  	float: right;
  	padding: 55px;
  	width: 500px;
}

div.third-section-left {
     float: left;
}

img.intro-video{
    width: 500;
    height: 600;
    float: left;
    padding: 55px;
    width: 500px;
}

div.third-section-right {
    float: right;
    padding: 55px;
    width: 500px;
}

h2.third-section-h2 {
    font-size: 300%;
    height: 100px;
    line-height: 100px;
    text-align: left;
    font-weight: bold;
    color: black;
}

p.third-section-p {
    font-size: 100%;
    height: 100px;
    font-weight: normal;
    color: black;
}

button.third-section-button {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    border-radius: 35%;
}

button.second-third-button:hover, button.third-section-button:active {
  background-color: #e7e7e7;
}

img.building {
    float: right;
    padding: 55px;
    width: 500px;
}

h2.articles-first-h2 {
    font-size: 30%;
    height: 100px;
    line-height: 100px;
    text-align: left;
    color: black;
}

h2.articles-second-h2 {
    font-size: 30%;
    height: 100px;
    line-height: 100px;
    text-align: left;
    font-weight: bold;
    color: black;
}

img.tesla {
	 float: right;
    padding: 55px;
    width: 500px;
}

img.camera {
    float: left;
    padding: 55px;
    width: 500px;
}

img.gates {
    float: left;
    padding: 55px;
    width: 500px;
}

img.leaves {
    float: right;
    padding: 55px;
    width: 500px;
}

img.setup {
    float: middle;
    padding: 55px;
    width: 500px;
}

img.peach {
    float: left;
    padding: 55px;
    width: 500px;
}

img.summit {
    float: left;
    padding: 55px;
    width: 500px;
}

img.watch {
    float: right;
    padding: 55px;
    width: 500px;
}

button.articles-button {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    border-radius: 35%;
}

button.articles-button:hover, button.articles-button:active {
  background-color: #e7e7e7;
}


/* Page 2 by Marichka  */

section.body {
 background-image: url("img/Pricing/skyscraper.png");
 background-size: cover;
}

h2 {
    font-size: 300%;
    height: 100px;
    line-height: 100px;
    text-align: central;
    font-weight: bold;
    color: white;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: central;
  font-weight: regular;
}

ul {
  list-style-image: url("img/Slider/Logo.png");

}

.plans {
  background-image: url("../img/Pricing/skyscraper.png");
  background-size: 100%;
}

a.button-header {
    background-color: #6d45f6;
    color: black;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #6d45f6;
    border-radius: 35%;
}

a.button-header:hover, a.button-header:active {
    background-color: white;
}    


/* End of Marichka section */


