/* Universal styles */

body {
  font-family: Poppins-Regular;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:visited, a:focus,
button:active, button:visited, button:focus,
button:hover {
  text-decoration: none;
  outline: none;
}

/* INTRO BY Khrystia */
.navigation {
  position: absolute;
  top: 20px;
  left: 9vw;
}

.header-logo img {
  width: 70px;
}

.navigation > * {
  display: inline-block;
  color: white;
  vertical-align: middle;
}

.navigation nav a {
  padding: 0 50px;
}

.navigation nav a:hover {
  text-decoration: underline;
}

.header-logo {
  color: transparent;
  display: inline-block;
}
 
.page-nav {
  position: fixed;
  text-align: center;
  color: white;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.intro-header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/Header/hello_its_me.jpg");
  min-height: 100%;
  padding-top: 30vh;
  height: 70vh;
  text-align: center;
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
}

.intro-header > * {
  margin: 20px;
}

.intro-header h1 {
    font-size: 150px;
    font-family: Poppins-Bold;
    line-height: 100px;
    font-weight: bold;
    color: white;
}

.intro-header p {
    font-size: 30px;
    font-family: Poppins-Light;
    color: white;
    padding: 15px;
}

.intro-header a {
  color: white;
  border-color: white;
  margin-top: 40px;
}

.intro-header a:hover {
  background-color: white;
  color: black;
}

/* END OF HEADER */


/* DESIGN SECTION BY Khrystia*/
.design-container {
  padding: 100px 0 50px 10vw;
}

.design {
  width: 30vw;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.design > * {
  margin: 15px 0;
}

.design h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  color: black;
}

.design p {
    font-size: 20px;
    font-weight: normal;
    color: black;
    text-align: left;
}

.design-img {
  width: 59vw;
  display: inline-block;
  overflow: hidden;
  height: 500px;
}

.design-img img {
  width: 100%;
  margin-left: 20px;
}

.who-i-am {
  padding: 0;
}

.ml-50 {
  margin-left: 50px;
}

.mt-0 {
  margin-top: -20px !important;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.small-text {
  font-size: 10px !important;
  color: #DADADA;
}

.design-container div p {
  color: #363737;
}


/* END OF DESIGN SECTION*/


/* PORTFOLIO by Dmytro */

.portfolio {
  text-align: center;
  margin: 50px 0;
}

.portfolio ul li {
  display: inline-block;
}

.portfolio ul li button {
  display: inline-block;
  border: none;
  font-family: Poppins-Regular;
  background-color: white;
  color: #838788;
}

.portfolio ul li button:hover {
  cursor: pointer;
  color: black;
}

.portolio-active button {
  color: black !important;
}

.portfolio-articles {
  padding: 2vw;
}

.portfolio-articles article {
  margin: 1vw;
  overflow: hidden;
}

.portfolio-articles article a {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  color: white;

  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio-articles article a:hover {
  background-color: rgb(211, 211, 211);
  background-position: center;
  background-origin: content-box;
  background-blend-mode: multiply;
  width: 110%;
  height: 102%;
}
.portfolio-articles article a:hover h2{
  text-decoration: underline;
}

.portfolio-articles article a h1 {
  position: absolute;
  bottom: 70px;
  left: 20px;
}

.portfolio-articles article a h2 {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 30px;
}

.building {
  background-image: url("../img/Portfolio/building.png");
}

.tesla {
  background-image: url("../img/Portfolio/tesla.jpg");
}

.camera {
  background-image: url("../img/Portfolio/camera.png");
}

.gates {
  background-image: url("../img/Portfolio/gates.png");
}

.leaves {
  background-image: url("../img/Portfolio/leaves.png");
}

.peach {
  background-image: url("../img/Portfolio/peach.png");
}

.setup {
  background-image: url("../img/Portfolio/setup.png");
}

.summit {
  background-image: url("../img/Portfolio/summit.png");
}

.watch {
  background-image: url("../img/Portfolio/watch.png");
}

.width-46-percent {
  width: 46%;
}

.width-23-percent {
  width: 22%;
}

.height-50-vw {
  height: 49.99vw;
}

.height-24-vw {
  height: 24vw;
}

.cesis-btn {
  border-radius: 100px;
  padding: 20px 40px;
  font-family: 'Poppins-Medium';
  background-color: transparent;
  border: 1px solid black;
  display: inline-block;
}

.cesis-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* END OF PORTFOLIO by Dmytro */

/* SLIDER by Dmytro */

.slider {
  padding: 50px 6vw;
}

.slider-img-holder {
  height: 500px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slider-img-holder img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.slider-text-holder {
  margin: 50px 0;
  font-family: Poppins-Light;
  color: #838788;
  line-height: 30px;
  width: 66vw;
  display: inline-block;
}

.slider-text-holder p {
  font-size: 15px;
  padding: 0 50px;
}

.slider ul {
  width: 21vw;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 90px 0;
}

.slider ul li {
  margin: 15px 0;
}

.slider ul li button {
  display: inline-block;
  border: none;
  font-family: Poppins-Regular;
  background-color: white;
  color: #838788;
  font-size: 20px;
}

.slider ul li button:hover {
  cursor: pointer;
  color: black;
}

.slider-active button {
  color: black !important;
}

/* END OF SLIDER by Dmytro */

/* TESTIMONIALS By Yarik */

section.testimonials {
  background-color: #f0fafd;
  width: 100%;
}

p {
  text-align: center;
  line-height: 1.6;
  color: #5c5e5e;
}

h2.testimonials-headertext {
  font-family: Poppins-Semibold;
  font-weight: 600;
  font-size: 75px;
  letter-spacing: -3px;
  color: #2f3030;
}

p.testimonials-secondary-text {
  font-weight: 200;
  font-size: 16px;
}

div.testimonials-main-text {
  display: inline-block;
  text-align: center;
    margin: 50px auto;
    width: 100%;
}

#testimonials-blocks {
  display: inline-block;
  margin: 20px 15vw 70px 15vw;
  width: 70vw;
}

ul#testimonials-blocks li {
  display: inline-block;
  margin: 0 3% 0 0;
  border-radius: 3%;
  height: 100%;
  width: 21vw;
    background: white;
  text-align: center;
}

.test-user-block > * {
  margin: 5px 0;
}

ul#testimonials-blocks li:last-child {
  margin: 0 0 0 0;
}

div.test-user-block {
  margin: 15% 15% 15% 15%;
}

p#testimonials-descr {
  font-weight: 200;
  font-size: 12px;
}

p#testimonials-author {
  font-weight: 400;
  font-size: 16px;
  color: #2f3030;
}

p#testimonials-prog {
  font-weight: 200;
  font-size: 12px;
}


/* End of TESTIMONIALS section */


/* Start of Yana's section */

.section-main{
    height: 1080px;
    width: auto;
}

.article-main{
    height: 50%;
    width: 50%;
    float: left;
    background: url("../img/Blog/notes_right.png");
    background-size: cover;
    position: relative;
}

.article-main h2{
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.article-main p{
    color: white;
    font-size: 14px;
}

.article-featured {
    height: 100%;
    width: 50%;
    background: url("../img/Blog/notes_left.png");
    background-size: cover;
    background-position: center;
}

.article-featured h2{
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.article-featured p{
    color: white;
    font-size: 14px;
}

.article-featured a{
    color: white;
    font-size: 12px;
}

.div-main {
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
    padding-top: 150px;
}

.div-main > * {
  margin: 10px 0;
}

.font-size-13 {
  font-size: 13px;
}

.div-main h2 {
  font-weight: bold;
  color: black;
  font-size: 80px;
}

.div-main p {
  color: black;
  font-size: 20px;
  font-family: Poppins-Light;
}

.div-main a {
  color: black;
  font-size: 12px;
}

.bottom-container {
  position: absolute;
  bottom: 15px;
}

.bottom-container > * {
  margin: 20px;
  text-align: left;
}

.btn-white {
  color: white;
  border-color: white;
  display: inline-block;
}

.btn-white:hover {
  background-color: white;
  color: black;
}

/* End of Yana's section*/

/* TESTIMONIALS By Yarik */

section.testimonials {
  background-color: #f0fafd;
  width: 100%;
}

p {
  text-align: center;
  line-height: 1.6;
  color: #5c5e5e;
}

h2.testimonials-headertext {
  font-family: Poppins-Semibold;
  font-weight: 600;
  font-size: 75px;
  letter-spacing: -3px;
  color: #2f3030;
}

p.testimonials-secondary-text {
  font-weight: 200;
  font-size: 16px;
}

div.testimonials-main-text {
  display: inline-block;
  text-align: center;
    margin: 50px auto;
    width: 100%;
}

#testimonials-blocks {
  display: inline-block;
  margin: 20px 15vw 70px 15vw;
  width: 70vw;
}

ul#testimonials-blocks li {
  display: inline-block;
  margin: 0 3% 0 0;
  border-radius: 3%;
  height: 100%;
  width: 21vw;
    background: white;
  text-align: center;
}

.test-user-block > * {
  margin: 5px 0;
}

ul#testimonials-blocks li:last-child {
  margin: 0 0 0 0;
}

div.test-user-block {
  margin: 15% 15% 15% 15%;
}

p#testimonials-descr {
  font-weight: 200;
  font-size: 12px;
}

p#testimonials-author {
  font-weight: 400;
  font-size: 16px;
  color: #2f3030;
}

p#testimonials-prog {
  font-weight: 200;
  font-size: 12px;
}

/* End of TESTIMONIALS section */

/* Start on PARTNERS section by Yaroslav */

ul.logos {
  margin: 2vw 2vw 2vw 2vw;
  width: 96vw;
}

ul.logos li {
  display: inline-block;
  margin: 0 auto;
  width: 18.8vw;
}

ul.logos li img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

/* PARTNERS By Yaroslav */
