section.header {
	background: url("img/Header/hello_its_me.jpg");
	min-height: 100%;
	text-align: right;

}

h1.header {
	font-size: 500%;
	height: 100px;
  	line-height: 100px;
  	font-weight: bold;
  	color: black;
}

p.header {
	font-size: 100%;
	height: 100px;
  	font-weight: normal;
  	color: black;
}

a.button-header {
	background-color: white;
  	color: black;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	border: 2px solid #e7e7e7;
  	border-radius: 35%;
}

a.button-header:hover, a.button-header:active {
	background-color: #e7e7e7;
}

div.second-section-left {
	position: absolute;
  	left: auto;
  	width: 500px;
  	height: 500px;
}

h2.second-section-h2 {
	font-size: 300%;
	height: 100px;
  	line-height: 100px;
  	text-align: left;
  	font-weight: bold;
  	color: black;
}

p.second-section-p {
	font-size: 100%;
	height: 100px;
  	font-weight: normal;
  	color: black;
}

button.second-section-button {
	background-color: white;
  	color: black;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	border: 2px solid #e7e7e7;
  	border-radius: 35%;
}

button.second-section-button:hover, button.second-section-button:active {
	background-color: #e7e7e7;
}

div.second-section-right {
	/*position: absolute;
  	left: 150px;*/
}

img.cesis-intro {
	/*position: absolute;
  	top: 8px;
  	right: 16px;
  	font-size: 18px;*/
  	float: right;
  	padding: 55px;
  	width: 500px;
}

div.third-section-left {

}

img.intro-video{

}

div.third-section-right {

}

h2.third-section-h2 {

}

p.third-section-p {

}

button.third-section-button {

}

img.building {

}

h2.articles-first-h2 {

}

h2.articles-second-h2 {

}

img.tesla {
	
}

img.camera {

}

img.gates {

}

img.leaves {

}

img.setup {

}

img.peach {

}

img.summit {

}

img.watch {

}

button.articles-button {

}


/* Third part of the first page style */

article.third-part-article{
}

img.notes_left {
}

img.notes_right{
}

p.third-part-first-p{
}

h2.third-part-first-h2{
}

p.third-part-first-p-small{
}


div.third-part-div{
}

h2.third-part-div-h2{
}

p.third-part-div-p{
}


section.third-part-second-section{
}

img.back_mountines{
}

h2.third-part-second-h2{
}

p.third-part-second-p{
}


footer.footer{
}

h2.footer-first-div-h2{
}

p.footer-first-div-p{
}

ul.footer-first-div-ul{
}

li.footer-first-div-li{
}

div.footer-second-div{
}

p.footer-second-div-p{
}

form.footer-second-div-form{
}

input.footer-second-div-input{
}

button.footer-second-div-button{
}


/* Page 2 by Marichka  */

section five .body {
 background-image: url("skyscraper.png");
}

h2 {
  font-size: 300%;
    height: 100px;
    line-height: 100px;
    text-align: central;
    font-weight: bold;
    color: white;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
  list-style-image: url( );
}

li {
    list-style-type: square;
}

a.button-header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    border-radius: 35%;
}

a.button-header:hover, a.button-header:active {
    background-color: #e7e7e7;
}

ul {
  list-style-image: url( );
}

li {
    list-style-type: square;
}

a.button-header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    border-radius: 35%;
}

a.button-header:hover, a.button-header:active {
    background-color: #e7e7e7;
}
ul {
  list-style-image: url( );
}

li {
    list-style-type: square;
}

a.button-header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    border-radius: 35%;
}

a.button-header:hover, a.button-header:active {
    background-color: #e7e7e7;
}

section six .body {
  background-color: white;
} 

img { src="Logo.png" class="w3-display-left w3-container" alt="Logo"
}

h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* section seven */

.plan_item {
  text-align: center;
}

.plan_item h3 {
  font-size: 30px;
  
}

.text-center {
  text-align: center;
  font: Verdana;
  font-size: 20px;
}

.plans {
  background-image: url("../img/Pricing/skyscraper.png");
  background-size: 100%;
}

ul {
    list-style-type: square;
}

ul {
    list-style-type: square;
}

ul {
    list-style-type: square;
}

section eight h2 {
  font-size: 300%;
    height: 100px;
    line-height: 100px;
    text-align: central;
    font-weight: bold;
    color: white;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
  list-style-image: url( );
}

li {
    list-style-type: square;
}
  
ul {
  list-style-image: url( );
}

li {
    list-style-type: square;
}

ul {
  list-style-image: url( );
}

li {
    list-style-type: square;
}


